@media only screen and (min-width: 768px) {
  .mySwiper {
    width: 90%;
    height: 15%;
  }
}

@media only screen and (max-width: 767px) {
  .mySwiper {
    width: 100%;
    height: 5%;
  }
}

.newsTitle {
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}